html {
  height: 100%;
  width: 100%;
  background-color: gold;
}

button {
  margin: 55px;
  margin-top: 25px;
  color: gold;
  background-color: #313335;
  border: 3px solid #313335;
  border-radius: 5px;
  scale: 200%;
}

#img_1 {
  display: none;
}

#btn_1 {
  display: default;
}
